/* Variables de couleur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #333;
  --background-color: #c9d6ff;
  --text-color: #fff;
  --container-bg-color: #fff;
  --container-shadow: rgba(0, 0, 0, 0.35);
  --link-hover-color: #b1b9b8;
  --form-bg-color: #eee;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Ensure the container takes the full height of the viewport */
  overflow-x: hidden; /* Prevent horizontal scroll */
  background-color: #f4f4f4;
  /* Fixed background image */
  /* Add a blur effect */
  width: 100%;
}

main section {
  height: 100vh; /* Espacement de 170px entre les sections */
}
#search {
  background-image: url("../assets/fermer-mobile-indications-carte.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
main section h1,
main section h2,
main section h3,
main section h4,
main section h5,
c main section h6 {
  margin-top: 0px; /* Espacement de 50px entre le titre de la section et le contenu */
  margin-bottom: 0; /* Réinitialisation de la marge inférieure pour éviter un double espacement */
}

header {
  width: 100%;
  height: 60px;
  background: transparent;

  color: #fff;
  display: flex;
  justify-content: space-between;
  /* Espacement entre les éléments */
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 9999;

  /* Pour que le header reste en haut de la page */
}
header h1 {
  padding: 10px;
  color: #f4f4f4;
}
/* Navigation */
nav {
  flex: 1; /* Utilise l'espace disponible pour la navigation */
  display: flex;
  justify-content: center;
  /* Centre les éléments de la navigation horizontalement */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 40px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #5a5a5a;
  text-decoration: none;
}
#right-menu {
  display: none;
  align-items: center;
}

.button {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 30px;
}

.blue-button {
  display: inline-block;
  outline: 0;
  appearance: none;
  padding: 0px 12px;
  margin-right: 10px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(137, 151, 155);
  box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
  color: rgb(247, 247, 247);
  font-size: 14px;
  font-weight: 800;
  height: 36px;
  transition: all 150ms ease-in-out 0s;
}
.blue-button:hover {
  color: rgb(61, 79, 88);

  border: 1px solid rgb(93, 108, 116);
  box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(194, 194, 194) 0px 0px 0px 3px;
}
.trt {
  margin-top: 40px;
}
.trt h3 {
  font-size: 35px;
  color: rgb(245, 245, 245);
}
.trt h1 {
  font-size: 38px;
  color: #eee;
}
.trt p {
  font-size: 16px;
  color: #f0f0f0;
}
/* Formulaire */
main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-form {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  margin-bottom: 0px;
  align-items: center;
}

#trajet_form {
  width: 500px;
  height: 70%;
  display: flex;
  flex-direction: column;
  /* Set the last value (0.8) for transparency (0 is fully transparent, 1 is fully opaque) */
  padding: 0px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.63);
  padding: 4rem;
  /* Animation for fade-in effect */
}

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #2b2b2b;
}

#trajet_form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  flex: 1;
}

#depart_arrivee {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}
#trajet_form input[type="number"],
#trajet_form input[type="date"] {
  width: 100%;
  padding: 10px;
  flex: 1;
  border: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  margin-bottom: 5px;
}
.form_date_nbrPass {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /*center a div */
}

form button:hover {
  background-color: #0056b3;
}
.carrefour {
  margin-top: 0px;
  text-align: center;
}
/* Avantages */
.aventage {
  display: block;
}

.aventage-cartes {
  display: flex;
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.aventage-cartes {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.carte {
  background-color: rgb(
    255,
    255,
    255
  ); /* Slightly transparent white background */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, background-color 0.3s ease; /* Added transition for background-color */
  margin: 10px;
  padding: 10px;
}

.carte:hover {
  box-shadow: 0 8px 16px rgba(195, 195, 195, 0.982);
}

.titel-carte {
  background-color: rgba(
    51,
    51,
    51,
    0.8
  ); /* Transparent dark gray background for the title */
  color: #fff;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}
.project-image {
  align-items: center;
  max-width: 100%; /* Ensure the image does not exceed its container */
  height: auto; /* Maintain the aspect ratio */
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: #ddd;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.description {
  padding: 15px;
  text-align: justify;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.carte {
  animation: fadeIn 0.8s ease-in-out;
}
.carte img {
  width: 240px;
  height: 150px;
}

.description {
  width: 245px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titel-carte {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.presentation {
  text-align: center;
  padding: 50px;
  background-color: #fff;

  margin: 20px;
  border-radius: 8px;
  opacity: 0; /* Initial opacity for fade-in effect */
  animation: fadeIn 1s forwards; /* Animation for fade-in effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: #333;
}

.contain {
  margin-top: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contain p {
  transition: background-color 0.3s ease;
  font-size: 25px;
}

.contain p:hover {
  background-color: #f0f0f0;
}
/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  /* Pour coller le footer en bas */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* Set a height for the map container */
.suggestionsList {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  display: none;
  max-height: 150px;
  overflow-y: scroll;

  /* Position the autocomplete items to be the same width as the container */
  position: absolute;
  z-index: 99;
  width: 300px;
}
.suggestionsList li {
  padding: 8px;
  cursor: pointer;
  background-color: #f9f9f9;
}
.suggestionsList li:hover {
  background-color: #e0e0e0;
}

.avatar {
  font-size: 30px;
}
#alertBox {
  position: absolute !important ;
  top: 0;
}

.drop_down {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 0px;
  top: 60px;
  right: 20px;
  background-color: #f8f6f6b6;
  overflow: hidden;
  border-radius: 0 0 20px 20px;

  padding-left: 0px !important;
}
.drop_menu {
  height: fit-content;
}
.drop_down li {
  list-style: none;
}
.drop_down a {
  text-decoration: none;
  color: #414141;
  font-size: 18px;

  font-weight: 600;
  display: flex;
  padding-left: 2rem;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.drop_down a:hover {
  text-decoration: none;
  background-color: #c5c5c5b6;
}
.drop_down img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.arrow {
  margin-left: auto;
}
#userAvatar img {
  width: 40px;
  height: 40px;

  margin-right: 10px;
  border: none;
}
#userInfo {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#arrow {
  margin-left: 10px;
  font-size: 22px;
  font-weight: 500;
  transform: rotate(90deg);
  margin-top: 0px;
}
.arrow_up {
  transform: rotate(-90deg) !important;
}
#user {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 50px;
}
section.marche {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
  border-radius: 5px;
  height: fit-content !important;
}

/* Mettre les éléments de la classe passager et conducteur sans espacement des bords gauche et droit de la page avec symétrie */
.psg-cnd {
  display: flex;
  justify-content: space-between;
  padding: 0; /* Supprime tout espacement à gauche et à droite de .psg-cnd */
  box-sizing: border-box; /* Garantit que la taille inclut le padding */
}

.passager,
.conducteur {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%; /* Chaque élément occupe 50% de l'espace disponible */
  /* Ajustez la largeur si nécessaire en fonction du contenu */
}

/* Mettre les éléments de la classe étape côte à côte */
.etape {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 20px;
}

.etape img {
  width: 155px;
  height: 149px;
}

.etape p {
  margin-left: 35px;
  margin-top: 45px;
  width: 250px;
  height: auto;
  font-size: 22px;
}
.marche h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
#inbox {
  margin-right: 20px;
}

#modal-body {
  height: 400px !important;
  overflow-y: scroll;
  padding-bottom: 20px;
  display: flex !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.notification {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding-left: 15px;
  border-radius: 2px;
}
.notification-status {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
